Repository folke/snacks.nvim, pull requests merged in 2024-12, with the labels that each got.

#172 feat(gitbrowse): allow custom branch
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#191 feat(dashboard): make buffer not listed
  lua/snacks/dashboard.lua
Labels: dashboard

#201 docs(lazygit): comment how to disable nerd icons
  docs/lazygit.md
  lua/snacks/lazygit.lua
Labels: docs, lazygit

#222 fix(dashboard): don't open with startup option args
  lua/snacks/dashboard.lua
Labels: dashboard

#232 chore(docs): fix typos
  README.md
Labels: docs

#243 feat(toggle): add zen mode toggle
  lua/snacks/toggle.lua
  lua/snacks/zen.lua
Labels: toggle

#215 fix(dashboard): add filetype to terminal sections
  lua/snacks/dashboard.lua
Labels: dashboard

#208 feat(lazygit): respect existing LG_CONFIG_FILE when setting config paths
  lua/snacks/lazygit.lua
Labels: lazygit

#297 feat(notifier): `hide_from_history` option
  lua/snacks/notifier.lua
Labels: notifier

#307 fix(notifier): open history window with correct style
  lua/snacks/notifier.lua
Labels: notifier

#310 chore(dashboard): replace 'hub status' with 'git status'
  doc/snacks-dashboard.txt
  docs/dashboard.md
  docs/examples/dashboard.lua
Labels: docs-vim, docs

#306 feat(styles): exportable styles
  lua/snacks/init.lua
Labels: core, init

#311 chore(docs): updated gitbrowse keymap to support visual mode
  docs/examples/init.lua
Labels: docs

#400 fix(win): backdrop having bright cell at top right
  lua/snacks/win.lua
Labels: win

#377 fix(lazygit): enable boolean values in config
  lua/snacks/lazygit.lua
Labels: lazygit

#381 fix(dashboard): hash dashboard terminal section caching key to support long commands
  lua/snacks/dashboard.lua
Labels: dashboard
