Repository folke/snacks.nvim, pull requests merged in 2024-11, with the labels that each got.

#19 fix(win): set border to none for backdrop windows
  lua/snacks/win.lua
Labels: win

#23 feat(words): `jump` optionally shows notification with reference count
  doc/snacks-words.txt
  docs/words.md
  lua/snacks/words.lua
Labels: docs-vim, docs, words

#27 docs(rename): add nvim-tree example
  docs/rename.md
Labels: docs

#31 feat(words): add `fold_open` and `set_jump_point` config options
  docs/words.md
  lua/snacks/words.lua
Labels: docs, words

#45 fix(terminal): `gf` properly opens file
  lua/snacks/terminal.lua
Labels: terminal

#47 docs(example): fix rename file keymap
  README.md
Labels: docs

#64 fix(win): take border into account for window position
  lua/snacks/win.lua
Labels: win

#66 fix(notifier): disable `colorcolumn` by default
  lua/snacks/notifier.lua
Labels: notifier

#85 fix(notifier): no gap in border without title/icon
  lua/snacks/notifier.lua
Labels: notifier

#81 fix(win): delay when closing windows
  lua/snacks/win.lua
Labels: win

#78 fix(docs): typo in README.md
  README.md
Labels: docs

#77 feat(dashboard): added new `dashboard` snack
  .github/labeler.yml
  README.md
  doc/snacks-dashboard.txt
  doc/snacks-debug.txt
  doc/snacks-init.txt
  doc/snacks-notifier.txt
  doc/snacks-util.txt
  docs/dashboard.md
  docs/examples/dashboard.lua
  docs/examples/init.lua
  docs/init.md
  docs/util.md
  lua/snacks/dashboard.lua
  lua/snacks/docs.lua
  lua/snacks/git.lua
  lua/snacks/init.lua
  lua/snacks/notifier.lua
  lua/snacks/util.lua
  lua/snacks/win.lua
Labels: win, docs-vim, docs, core, init, notifier, git

#101 fix(dashboard): disable `vim.wo.colorcolumn`
  lua/snacks/dashboard.lua
Labels: dashboard

#89 feat(gitbrowse): open also visual selection range
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#118 refactor(dashboard): change persisted.nvim load session command
  lua/snacks/dashboard.lua
Labels: dashboard

#113 docs(dashboard): add highlight groups to readme
  README.md
Labels: docs

#132 docs(dashboard): update dashboard.md
  docs/dashboard.md
Labels: docs

#133 fix(gitbrowse): fix the regex in url_patterns
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#163 feat(gitbrowse): add Bitbucket URL patterns
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#161 feat(gitbrowse): open commit when word is valid hash
  lua/snacks/gitbrowse.lua
Labels: gitbrowse
