Repository folke/snacks.nvim, pull requests merged in 2025-01, with the labels that each got.

#561 fix(bigfile): check existence of NoMatchParen before executing
  lua/snacks/bigfile.lua
Labels: bigfile

#587 chore(picker): fix typo
  doc/snacks-picker.txt
  docs/picker.md
  lua/snacks/picker/config/defaults.lua
Labels: docs-vim, docs

#656 fix(statusline): fix status line cache key
  lua/snacks/statuscolumn.lua
Labels: statuscolumn

#425 fix(debug.run): schedule only nvim_buf_set_extmark in on_print
  lua/snacks/debug.lua
Labels: debug

#686 feat(picker): preview window horizontal scrolling
  lua/snacks/picker/actions.lua
  lua/snacks/picker/config/defaults.lua
  lua/snacks/win.lua
Labels: win

#750 fix(bufdelete): ctrl-c throw error in `fn.confirm`
  lua/snacks/bufdelete.lua
Labels: bufdelete

#774 fix(dashboard): don't override user configuration
  lua/snacks/dashboard.lua
Labels: dashboard

#786 fix(win): error when enabling padding with `listchars=""`
  lua/snacks/win.lua
Labels: win
