Repository folke/snacks.nvim, pull requests merged in 2025-02, with the labels that each got.

#1006 docs(rename): add oil.nvim integration
  docs/rename.md
Labels: docs

#438 feat(gitbrowse): open permalinks to files. Fixes #320
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#1038 fix(gitbrowse): cwd for permalinks
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#1089 fix(gitbrowse): add support for GitHub Enterprise Cloud repo url
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#1093 fix(statuscolumn): only execute `za` when fold exists
  lua/snacks/statuscolumn.lua
Labels: statuscolumn

#1121 feat(toggle): allow user to add custom which-key description
  lua/snacks/toggle.lua
Labels: toggle

#1127 fix(gitbrowse): previous logic always overwrote 'commit'
  lua/snacks/gitbrowse.lua
Labels: gitbrowse

#1112 feat(picker): allow complex titles
  lua/snacks/picker/core/picker.lua
  lua/snacks/win.lua
Labels: win, picker

#1115 fix(picker): vim.ui.select callback is called when canceling selection
  lua/snacks/picker/select.lua
Labels: picker

#1145 fix(picker.explorer): ensure diagnostics can be disabled
  lua/snacks/picker/source/explorer.lua
Labels: picker

#1216 fix(picker.git): preserve chronological order when matching
  lua/snacks/picker/config/sources.lua
Labels: picker

#1205 feat(picker.git): allow passing extra args to other git pickers
  lua/snacks/picker/config/sources.lua
  lua/snacks/picker/source/git.lua
Labels: picker

#1091 feat(git_log): add author filter
  lua/snacks/picker/config/sources.lua
  lua/snacks/picker/source/git.lua
Labels: docs, picker

#1250 perf(dashboard): speed up filtering for recent_files
  lua/snacks/dashboard.lua
Labels: dashboard

#1296 feat(words): add `filter` function for user to disable specific filetypes
  lua/snacks/words.lua
Labels: words
